* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: purple;
}

main {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-color: #1b1b16;
  background-image: radial-gradient(at 47% 33%, #17b585 0, transparent 59%), radial-gradient(at 82% 65%, #286ce2 0, transparent 55%);
}

.ui.container.container {
  margin-top: 40px;
  backdrop-filter: blur(6px) saturate(155%);
  -webkit-backdrop-filter: blur(6px) saturate(155%);
  background-color: rgba(17, 25, 40, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}

.input-search::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

::-webkit-input-placeholder {
  color: #fcf8f8;
}

:-ms-input-placeholder {
  color: #fcf8f8;
}

::-ms-input-placeholder {
  color: #fcf8f8;
}

::placeholder {
  color: #fcf8f8;
}

.svg {
  font-size: 25px;
  color: #faefe5;
  cursor: pointer;
}

.container {
  padding: 60px;
  color: white;
}

.country-name {
  color: #f7f2f2;
  font-size: 28px;
}

.today-date {
  font-size: 13px;
  color: #f8a8a8;
  margin-top: 20px;
}

.degrees {
  font-size: 150px;
  margin-right: 100px;
  margin-top: 30px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather-icon {
  height: 220px;
}

.feels {
  font-size: 15px;
}

.weather-description {
  color: blueviolet;
}

.temperature {
  font-size: 200px;
  margin-right: 100px;
}

#app-title {
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  -webkit-transform: scaleZ(1.2);
          transform: scaleZ(1.2);
  letter-spacing: 3px;
  color: white;
}

h1#app-title {
  margin-top: 20px;
  margin-right: 10px;
}

#display-flex > svg > path:nth-child(1) {
  color: #36dfee;
}

#display-flex > svg > path:nth-child(2) {
  color: yellow;
}

#block {
  display: block;
}

#flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 120px;
  margin-right: 180px;
}

#feels {
  margin-top: 50px;
  font-size: 13px;
  text-align: center;
}

#display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#icons {
  font-size: 35px;
}

#display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sunrise,
#sunset {
  margin-right: 10px;
  font-size: 40px;
}

#sunset {
  color: #f16609;
}

#sunrise {
  color: #ffe600;
}

#top-weather-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#temperature-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#temperature-div {
  width: 200px;
  height: 250px;
  font-size: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#celsius {
  margin-bottom: 70px;
  font-size: 25px;
}

@media only all and (max-width: 600px) {
  body {
    height: inherit;
  }
  .search-box {
    height: 100px;
  }
  .search-box:hover > .search-bar {
    width: 100%;
    padding: 0 6px;
  }
  main {
    height: 100vh;
  }
}
/*# sourceMappingURL=App.css.map */