* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: purple;
}

main {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background: purple;
}

#app-title {
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  transform: scaleZ(1.2);
  letter-spacing: 3px;
  color: white;
}
h1#app-title {
  margin-top: 20px;
  margin-right: 10px;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

::placeholder {
  color: rgb(252, 248, 248);
}
.svg {
  font-size: 25px;
  color: rgb(250, 239, 229);
  cursor: pointer;
}

#display-flex > svg > path:nth-child(1){
  color:rgb(88, 144, 182);
}
#display-flex > svg > path:nth-child(2){
  color:yellow;
}
.container {
  padding: 100px;
  height: 70vh;
  width: 100%;
  background: rgb(83, 5, 77);
  color: white;
  border-radius: 5px;
  background: linear-gradient(rgb(83, 5, 77), rgb(80, 2, 70));
}

#top-weather-section {
  display: flex;
  justify-content: space-between;
}

#display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sunrise,
#sunset {
  margin-right: 10px;
  font-size: 40px;
}
#sunset {
  color: rgb(241, 102, 9);
}
#sunrise {
  color: rgb(255, 230, 0);
}

.country-name {
  color: rgb(247, 242, 242);
  font-size: 28px;
}
.today-date {
  font-size: 13px;
  color: rgb(248, 168, 168);
  margin-top: 20px;
}
.temperature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 80px;
}
.degrees {
  font-size: 150px;
  margin-right: 100px;
  margin-top: 30px;
  width: 300px;
  display: flex;
}
#block {
  display: block;
}
#flex {
  display: flex;
  font-size: 120px;
  margin-right: 180px;
}
#feels {
  margin-top: 50px;
  font-size: 13px;
}
#celsius {
  font-size: 28px;
}
.weather-icon {
  height: 220px;
}

.feels {
  font-size: 15px;
}

.weather-description {
  color: blueviolet;
}

#display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#icons {
  font-size: 35px;
}

@media only all and (max-width: 600px) {
  .search-box {
    height: 100px;
  }
  .search-box:hover > .search-bar {
    width: 100%;
    padding: 0 6px;
  }
  .weather-container {
    width: 100%;
    height: 80vh;
  }
}
